.formed
{
    width:90%;
    table-layout:fixed;
    padding:0;
    margin:0;
}
.form{
    width:90%;
    table-layout:fixed;
    padding:0;
    margin:0;
}

.newTicket{
	float: right;	
}

.table_show{
    border-radius: 15px;
    border: 1px solid;
    margin-left: 40px;
    padding: 20px;
    display: none;
}

.err{
	font: italic bold 20px  serif;
	color:red; 
	display:inline;
}
