#searchticket{
	width:300px;
	float:right;
}
#search{
	width:400px;
	float:right;
}

#new-ticket{
	float:right !important;
}
/*.advancedSearchDiv{

width:280px;
float:left;
}*/
.advancedsearchbuttonwithall{
	float:right;
}

#table_show{
    border-radius: 15px;
    border: 2px solid ;
   	border-color: rgba(36,58,117,1);

    margin-left: 40px;
    padding: 10px;
}
.hv{
	color: #ffffff !important;
}