#searchticket{
	width:300px;
	float:right;
}
#search{
	/*width:500px;*/
	float:left !important;
}

#new-ticket{
	float:right !important;
	/*margin-right: 10px;*/
}
/*.advancedSearchDiv{

width:280px;
float:left;
}*/
.advancedsearchbuttonwithall{
	float:right;
}

#table_show{
    border-radius: 15px;
    border: 2px solid ;
   	border-color: rgba(36,58,117,1);

    padding: 10px;
}
.hv{
	color: #ffffff !important;
}