/*.relatedassets{
width:400px;
clear:both;
float:right;
}
.relatedtags{
width:400px;
clear:both;
float:right;
}*/

/*.commentbody{
width:700px;
float:left;
}*/
/*.ticketdetails{
width:400px;

float:right;
}*/

.ticketbody{
	border-radius: 15px !important;
    border: 2px solid !important;
    border-color: rgba(36,58,117,1) !important;
    word-wrap:break-word;
}

textarea {
    resize: none;

}

.assigned{
	font-size: 16px;
}
.title{

	color:  rgba(36,58,117,1);
	font-size: 19px;
	font-family: Arial black;
	 display: inline-block;
     min-width: 120px;
}

#addnewasset{
	display: inline;
	float: right;
}

.btn.btn-default{
	color: #ffffff !important;
    background-color: rgba(36,58,117,1) !important;
}

/*.rightposition{
width:400px;

float:right;
}
.leftposition{
width:700px;

float:left;
}*/

.buttonright {
    text-align: right;
    float: right;
}
.buttonsave {
    text-align: right;
    float: right;
}
.asset{
 	display: inline-block;
    width: 80px;	
}



