.ticketbody{
	border-radius: 15px !important;
    border: 2px solid !important;
    border-color: rgba(36,58,117,1) !important;
    word-wrap:break-word;
}

textarea {
    resize: none;

}

.assigned{
	font-size: 16px;
}
.title{

	color:  rgba(36,58,117,1);
	font-size: 19px;
	font-family: Arial black;
	display: inline-block;
    min-width: 120px;
}

#addnewasset{
	display: inline;
	float: right;
}

.btn.btn-default{
	color: #ffffff !important;
    background-color: rgba(36,58,117,1) !important;
}

.fnt{

	color:  rgba(36,58,117,1);
	font-size: 22px;
	font-family: Arial black;
}
.allBtn{
	float: right;
}

.buttonright {
    text-align: right;
    float: right;
}

.asset{
 	display: inline-block;
    width: 70px;	
}
#selectallasset{
    display: inline !important;
    width: 100px;
}
.add-asset{
    float: right;
}
#asseterrormessage{
    float: right;
}
.file{
	padding:7px;
}

.ass{
	float: right !important;
}

#select{
	width: 200px;
}
.cmbdy{
	word-wrap:break-word;
}